body{background-color: rgb(0, 0, 0);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }


        h1{color: rgb(17, 233, 222);}

        h2{color: rgb(26, 35, 119);}

        p{color: rgb(53, 191, 255);}

        a{color: rgb(235, 235, 235);


        }